@media screen and (min-width: 428px) {
	.container {
		max-width: 426px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 582px;
	}

	.solutions {
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url(../images/main-page//mobile/people-office-tab2x.jpg);
		padding: 112px 0;
	}

	.main-title {
		font-size: 56px;
		max-width: 496px;
		margin-bottom: 36px;
	}
	/* ==== advantages ==== */
	.advantages-container {
		max-width: 766px;
	}

	.advantages-item {
		width: calc((100% - 24px) / 2);
	}

	.advantages-subtitle {
		text-align: left;
	}

	.advantages-text {
	}
	/* ==== team ==== */
	.team-list {
		row-gap: 64px;
	}

	.team-subtitle {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0.4px;
	}
	/* ==== customers ==== */
	.customers-item {
		width: calc((100% - 2 * 24px) / 3);
	}

	/* ==== FOOTER ==== */

	.footer-container {
		align-items: baseline;
		justify-content: start;
	}

	.footer-logo {
		text-align: left;
	}
	.socials-text {
		text-align: left;
	}

	.footer-form {
		flex-direction: row;
		gap: 24px;
	}

	.form-title {
		text-align: left;
	}

	.footer-input {
		width: 264px;
	}

	.modal {
		width: 408px;
	}
}

@media screen and (min-width: 1440px) {
	.section {
		padding: 120px 0;
	}
	.container {
		max-width: 1158px;
	}

	.subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.4px;
	}

	.text {
		font-weight: 400;
	}

	.solutions {
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url(../images/main-page/people-office.jpg);
		padding: 188px 0;
	}

	/* ==== advantages ==== */
	.advantages {
		padding-bottom: 0;
	}
	.advantages-item {
		width: calc((100% - 3 * 24px) / 4);
	}

	.advantages-cover {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 8px;
	}

	/* ==== about ==== */
	.about {
		display: block;
	}

	/* ==== customers ==== */
	.customers-item {
		width: calc((100% - 5 * 24px) / 6);
	}

	/* ==== FOOTER ==== */

	.footer-container {
		justify-content: space-between;
	}

	.footer-input {
		border: 1px solid rgb(255, 255, 255);
	}
	.footer-input::placeholder {
		color: rgb(255, 255, 255);
	}
	/* ==== modal ==== */
	.modal {
		padding: 72px 24px 24px;
	}
}
